<aside class="s_contact col-lg-6 offset-lg-6 col-sm-12 col-custom">
    <div class="row">
      <div class="col-md-4 col-4 text-center">
        <img src="/media/icons/phone.svg" height="45" alt="phone"/>
        <h5>Телефон</h5>
        <small>{{#if users.tel}}{{users.tel}}{{else}}no set {{/if}}</small>
      </div>
      <div class="col-md-4 col-4 text-center">
        <img src="/media/icons/pin.svg" height="40" alt="phone"/>
        <h5>Адресс</h5>
        <small>{{#if users.addr}}{{users.addr}}{{else}}no set {{/if}}</small>
      </div>
      <div class="col-md-4 col-4 text-center">
        <img src="/media/icons/letter.svg" height="35" alt="phone"/>
        <h5>E-mail</h5>
        <small><a href="mailto:real.it.ua@gmail.com">{{#if users.email}}{{users.email}}{{else}}no set {{/if}}</a></small>
      </div>
      <div class="col-md-12 text-center">
        <ul class="social-list col-md-6 offset-md-3 col-8 offset-2">
          <li>
            <a onclick="yaCounter43149469.reachGoal('vkontakte'); return true;" href="{{#if users.vk}}{{users.vk}}{{else}}#{{/if}}" target="_blank"></a>
          </li>
          <li>
            <a onclick="yaCounter43149469.reachGoal('facebook'); return true;" href="{{#if users.fb}}{{users.fb}}{{else}}#{{/if}}" target="_blank"></a>
          </li>
          <li>
            <a onclick="yaCounter43149469.reachGoal('google'); return true;" href="{{#if users.goo}}{{users.goo}}{{else}}#{{/if}}" target="_blank"></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        {{> forms/contact}}
      </div>
    </div>
</aside>
