<section id="course" class="s_course has-triangle">
  <div class="animateme">
    <ul class="bg-bubbles">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="container js-course-list">
    <div class="row">
      <div class="col-lg-12">
        <h1>Наши курсы</h1>
      </div>
    </div>
    <div class="row jumbotron-wrapper row-custom">

      {{#each courses}}
      <div class="col-md-6 col-12 is-flex col-custom">
        <div class="jumbotron" id={{_id}}>
          <h4>{{name}}</h4>

          <p>Начало: <b class="js-deadline">{{date}}</b></p>

          <h5><span>{{coast}}</span></h5>
          <footer>
            <p>Осталось <b class="js-deadline-counter js-counter" data-count="10">10</b> дней и <b class="js-counter" data-count="{{place}}" style="font-size: 30px">{{place}}</b> места</p>
            <button class="btn btn-lg btn-red" data-course="{{name}}" onclick="43149469.reachGoal('courseStart'); return true;">Узнать больше</button>
          </footer>
        </div>
      </div>
      <!--#compare @key '==' '1' -->
      {{/each}}

    </div>
  </div>
</section>
