<div class="container-fluid l_course-wrapper">

  <div class="container">

    <nav class="course-nav navbar navbar-toggleable-md">
      <div class="container">
        <div class="navbar-collapse">
          <ul class="navbar-nav">
            {{#each allCourses}}
            <li class="navbar-item">
              <a href="#" data-id="{{this._id}}" class="nav-link">{{this.name}}</a>
            </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </nav>

    <div class="row js-course-content">
      <article class="col-md-12 course">
        <p class="descr-label">Описание курса</p>

        <div class="block is-flex">
          <div class="col-md-6  col-12 course-info" data-type="{{courseType}}">
            <h1>{{courseData.name}}</h1>
            <ul>
              <li><img src="/media/icons/25x25/notification.svg" alt="icons"/><span class="">Начало курса</span> {{courseData.date}}</li>
              <li><img src="/media/icons/25x25/calendar.svg" alt="icons"/><span class="">Длительность</span> {{courseData.time}}</li>
              <li><img src="/media/icons/25x25/watch.svg" alt="icons"/><span class="">Время</span> {{courseData.day}}</li>
              <li><img src="/media/icons/25x25/user.svg" alt="icons"/><span class="">Мест</span> {{courseData.place}}</li>
              <li><img src="/media/icons/25x25/credit-card.svg" alt="icons"/><span class="">Стоимость</span> {{courseData.coast}}</li>
            </ul>
          </div>
          <div class="col-md-6 col-12 course-descr">
            <div class="contenteditable">{{{courseData.descr}}}</div>

            <button class="btn btn-lg btn-red js-get-course-form" data-course="{{courseData.name}}">Хочу в группу</button>
          </div>

        </div>
      </article>

      <aside class="col-md-12 course">
        <p class="descr-label">Курс читает</p>

        <div class="card-columns block is-flex">
          <div class="card">
            {{#compare 1 "==" courseData.teacher }}

            <img class="card-img-top img-fluid" src="/media/photo/2-min.png" alt="Teacher card image cap">
            <div class="card-block">
              <h4 class="card-title">Денис Черкасов</h4>
              <p class="card-text">
              - Сертифицированный специалист Amazon Web Services<br>
              - Опыт в руководстве командой разработчиков<br>
              - В веб-программировании с 2003 года
              </p>
            </div>
            {{/compare}}

            {{#compare 2 "==" courseData.teacher }}
            <img class="card-img-top img-fluid" src="/media/photo/4-min.png" alt="Teacher card image cap">
            <div class="card-block">
              <h4 class="card-title">Юрий Олейник</h4>
              <p class="card-text">
              - Опыт в веб-разработке: более 5 лет<br>
              - Опыт коммерческой разработки в сфере front-end: более 4 лет<br>
              - В данный момент участвует в разработке крупного проекта в области IoT (интернета вещей)<br>
              - Стремится дать в рамках курса как можно больше интересных задач.
              </p>
            </div>
            {{/compare}}

            {{#compare 3 "==" courseData.teacher }}
            <img class="card-img-top img-fluid" src="/media/photo/3-min.png" alt="Teacher card image cap">
            <div class="card-block">
              <h4 class="card-title">Андрей Воропай</h4>
              <p class="card-text">
              - Ведущий программист IT-компании Fintegro<br>
              - Опыт в программировании: более 10 лет<br>
              - Преподавательский стаж: более 6 лет.
              </p>
            </div>
            {{/compare}}

            {{#compare 4 "==" courseData.teacher }}
            <img class="card-img-top img-fluid" src="/media/photo/1-min.png" alt="Teacher card image cap">
            <div class="card-block">
              <h4 class="card-title">Анна Куприна</h4>
              <p class="card-text">
              Опыт в веб-разработке: более 5 лет<br>
              - Преподавательский стаж: более 2 лет<br>
              - Знает, как мотивировать и вдохновить студентов<br>
              - Считает, что сильное желание научиться программированию - уже половина успеха
              </p>
            </div>
            {{/compare}}

            {{#compare 5 "==" courseData.teacher }}
            <img class="card-img-top img-fluid" src="/media/photo/5-min.png" alt="Teacher card image cap">
            <div class="card-block">
              <h4 class="card-title">Ольга Сладкова</h4>
              <p class="card-text">
              - Опыт в программировании: 10 лет<br>
              - Опыт коммерческой back-end разработки: 7 лет<br>
              - Считает, что учиться в зрелом возрасте не стыдно: лучше научиться поздно, чем никогда
              </p>
            </div>
            {{/compare}}
          </div>
        </div>
      </aside>

      <div class="col-md-12 course">
        <p class="descr-label"></p>

        <div class="block accordion">
          <button class="accordion-btn">Программа курса</button>
          <div class="accordion-panel">
            <ul class="lessons-list">
              {{#courseData.lessons}}
              <li>
                <h6>Тема {{inc @key}}</h6>
                {{ this  }}
              </li>
              {{/courseData.lessons}}
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
